/* Global reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom styles */

body {
    background-image: url('background.jpg');
}

.tampilanawal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    background-color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-button {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: red;
    text-align: center;
    cursor: pointer;
    z-index: 9999999;
}

.topbar {
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: white;
    z-index: 1;
}

.topbar img {
    height: 100%;
}

.sidebar {
    position: fixed;
    background-color: blue;
    width: 150px;
    height: 100vh;
    z-index: 1;
    transform: translateX(-150px);
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    -o-transform: translateX(-150px);
}

.TopSidebar {    display: flex;
    background-color: white;
    width: 100%;
    height: 50px;
    justify-content: right;
}

.TopSidebar img {
    height: 100%;
}

.main1 {
    position: relative;
    border: 2px solid red;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
}

.teks {
    margin-top: 50px;
    border: 2px solid red;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.teks h1 {
    color: aqua;
    font-size: 100px;
    font-family: "Oswald", sans-serif;
    animation: TeksH1 1s forwards;
    -webkit-animation: TeksH1 1s forwards;
}

.teks h2 {
    color: aqua;
    font-size: 25px;
    text-align: center;
    animation: TeksH2 1s forwards;
    -webkit-animation: TeksH2 1s forwards;
}

.gambar2 {
    margin-top: 5vh;
    border: 2px solid red;
    width: 80%;
}

.image-slider {
    position: absolute;
    bottom: 10%;
    border: 2px solid rgb(68, 0, 255);
    height: 150px;
    width: 80%;
}

.main2 {
    padding-top: 50px;
    border: 2px solid red;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.teks2 {
    margin-top: 50px;
    border: 2px solid red;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.teks2 h1 {
    color: aqua;
    font-size: 100px;
    font-family: "Oswald", sans-serif;
    animation: TeksH1 1s forwards;
    -webkit-animation: TeksH1 1s forwards;
}

.gallery {
    border: 2px solid red;
    box-sizing: border-box;
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
}

.guru {
    margin-top: 50px;
    border: 2px solid red;
    box-sizing: border-box;
    width: 100px;
}

.siswa {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 50px;
    border: 2px solid red;
    box-sizing: border-box;
    width: 100%;
}

.kotak img {
    width: 50px;
}

/**/

@keyframes slideIn {
    0%{
        transform: translateX(-150px);
        -webkit-transform: translateX(-150px);
        -moz-transform: translateX(-150px);
        -ms-transform: translateX(-150px);
        -o-transform: translateX(-150px);
}
    100%{
        box-shadow: 5px 0px 1px rgba(0, 0, 0, 0.258);
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
}

@keyframes slideOut {
    0%{
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    100%{
        transform: translateX(-150px);
        -webkit-transform: translateX(-150px);
        -moz-transform: translateX(-150px);
        -ms-transform: translateX(-150px);
        -o-transform: translateX(-150px);
}
}

@keyframes TeksH1 {
    0%{
        transform: translateX(-300px);
        -webkit-transform: translateX(-300px);
        -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
        -o-transform: translateX(-300px);
}
    100%{
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
}

@keyframes TeksH2 {
    0%{
        transform: translateY(25px);
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -o-transform: translateY(25px);
}
    100%{
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: all 4s;
    -webkit-transition: all 4s;
    -moz-transition: all 4s;
    -ms-transition: all 4s;
    -o-transition: all 4s
}